.mi-pardaze{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/pardazeh.png");
}

.mi-dorehami{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/gatherings.png");
}

.mi-mosabeghat{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/contests.png");
}

.mi-seminar{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/seminars.png");
}

.mi-jashnha{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/celebrations.png");
}

.mi-ertebat{
    content: url("C://Users/Hesam/Desktop/Codes/CsSbu/Pics/contact.png");
}