.mi-pardaze{
    content: url("/static/Pics/pardazeh.png");
}

.mi-dorehami{
    content: url("/static/Pics/gatherings.png");
}

.mi-mosabeghat{
    content: url("/static/Pics/contests.png");
}

.mi-seminar{
    content: url("/static/Pics/seminars.png");
}

.mi-jashnha{
    content: url("/static/Pics/celebrations.png");
}

.mi-ertebat{
    content: url("/static/Pics/contact.png");
}