<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>درباره ی ما</title>

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/IranSans/css/fontstyle.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/other.css">
</head>
<body>
<nav>
    <div class="menu-">
        <div class="logo"></div>
        <div class="menu-title">درباره ی ما</div>
        <input type="checkbox" id="menu-b">
        <label for="menu-b" class="menu-burg">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
        </label>
        <div class="menu-box">
            <ul class="menu-ul">
                <li class="menu-item">
                    <a href="/">خانه</a>
                </li>
                <li class="menu-item">
                    <a href="">ارتباط با ما</a>
                </li>
                <li class="menu-item">
                    <a href="">درباره ی ما</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="img-para"></div>
</div>
</body>
</html>