{% extends 'base/general.html' %}
{% block body %}
<div class="container">
    <div class="container-cover"></div>

    <div class="contain">
        <div class="img">
            <img src="" alt="">
            <div class="img-hover"><a href="">
                <span class="a-box">... ادامه مطلب</span>
            </a></div>
        </div>
        <div class="text">
            <h3><a href=""></a></h3>
            <p>ارزشمندترین منبع دنیا دیگر نفت نیست، داده‌ است!</p>
        </div>
    </div>

    <div class="contain even">
        <div class="img">
            <img src="" alt="">
            <div class="img-hover"><a href="">
                <span class="a-box">... ادامه مطلب</span>
            </a></div>
        </div>
        <div class="text">
            <h3><a href=""></a></h3>
        </div>
    </div>
</div>
{% endblock %}