<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title><?php the_title(); ?></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="plugins/IranSans/css/fontstyle.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/other.css">
    <link rel="stylesheet" href="css/seminar.css">
</head>

<body>
<nav>
    <div class="menu-">
        <div class="logo"></div>
        <div class="menu-title"><?php the_title(); ?></div>
        <input type="checkbox" id="menu-b">
        <label for="menu-b" class="menu-burg">
            <span class="menu-line"></span>
            <span class="menu-line"></span>
            <span class="menu-line"></span>
        </label>
        <div class="menu-box">
            <ul class="menu-ul">
                <li class="menu-item">
                    <a href="/">خانه</a>
                </li>
                <li class="menu-item">
                    <a href="">تماس با ما</a>
                </li>
                <li class="menu-item">
                    <a href="">درباره ی ما</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <p><img class="img" align="left" src="images/seminars/data-science.jpg" alt="کارگاه علوم داده"></p>

    <!--<div class="text">-->
    <h3>کارگاه علوم داده</h3>

    <p>ارزشمندترین منبع دنیا دیگر نفت نیست، داده‌ است!</p>
    <p>▪مجله اکونومیست در مقاله ای جدید و جذاب ارزشمندترین منبع دنیا را داده‌ اعلام کرد. ۵ شرکت (گوگل، آمازون، اپل،
        فیسبوک و مایکروسافت) ارزشمندترین بنگاه‌ها در دنیا هستند. سودهایشان سرسام‌آور است: آنها روی‌هم‌رفته ۲۵ میلیارد
        دلار سود خالص در فصل اول سال ۲۰۱۷ جمع کردند. نیمی از تمام دلارهایی که در آمریکا آنلاین خرج می‌شوند، نصیب آمازون
        می‌شود. تقریباً تمام رشد درآمد در حوزۀ تبلیغات دیجیتال در آمریکا در سال گذشته، مدیون گوگل و فیسبوک است</p>
    <p>▪یک قرن قبل، منبع مد نظر نفت بود. اکنون غول‌ها به نگرانی های مشابهی دامن زده‌اند که به &#8220;داده‌ها&#8221;
        مربوط می‌شود، یعنی به نفتِ عصر دیجیتال!</p>
    <p>▪کنترل شرکت‌های اینترنتی بر داده‌ها، قدرت شگرفی به آنها می‌دهد. الگوهای قدیمی دربارۀ رقابت که در عصر نفت تدوین
        شدند، در آنچه به «اقتصاد داده‌محور» مشهور شده منسوخ به نظر می‌آیند. به رویکرد جدیدی نیاز است.&#8221;دکتر صادقی
        بی‌غم&#8221;.</p>
    <p>به دلیل اهمیت موضوع داده‌ها در عصر حاضر برآن شدیم تا کارگاهی درباره حوزه‌های مختلف علوم داده برگذار نماییم.</p>
    <p>سخنران ها:</p>
    <ul>
        <li><a href="https://scholar.google.com/citations?user=Z_z5rwcAAAAJ">دکتر سید علی کتان فروش</a> : مدل‌های گرافی
            احتمالاتی برای مسئله کشف انجمن در شبکه های اجتماعی.
        </li>
        <li><a href="https://scholar.google.com/citations?user=LA2VT8kAAAAJ">دکتر جمال امانی راد</a> : پردازش سیگنال‌های
            مغزی و مدل‌سازی محاسباتی در علوم شناختی.
        </li>
        <li><a href="https://scholar.google.com/citations?user=Ghg08WgAAAAJ">دکتر امیرتیمور پاینده</a> : مدل‌های
            احتمالاتی.
        </li>
        <li><a href="https://scholar.google.com/citations?user=g53P9vcAAAAJ">دکتر بیژن احمدی</a> : فاصله و گرانیگاه
            واسرشتاین همراه با کاربرد‌هایی در تحلیل داده‌ها.
        </li>
        <li><a href="http://facultymembers.sbu.ac.ir/eslahchi/en/home/">دکتر چنگیز اصلاحچی</a> : مدل‌سازی داده‌های
            بیولوژیکی.
        </li>
        <li><a href="http://madani.pro/">دکتر میثم مدنی</a> : داده‌کاوی چشمه و چرایی.</li>
        <li><a href="https://scholar.google.com/citations?user=toWNi-8AAAAJ">دکتر علیرضا توکلی</a> : کاربرد‌هایی از
            یادگیری ژرف.
        </li>
        <li><a href="https://scholar.google.com/citations?user=nyNQ8XAAAAAJ">مهندس یاسین اروسخانی</a> : سیستم‌های
            توصیه‌گر از تئوری تا واقعیت.
        </li>
    </ul>
    <!--</div>-->
</div>
</body>
</html>